@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Playfair/PlayfairDisplay-Regular.ttf');
    font-display: block;
}

@font-face {
    font-family: 'Playfair Display Bold';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Playfair/PlayfairDisplay-Bold.ttf');
    font-display: block;
}
